.main {
  display: flex;
}
.beer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.container {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 2px solid black; */
}
.content {
  width: 220px;
  height: 320px;
}
.content-item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: left;
  margin: 10px;
  align-items: center;
}
.card-header {
  margin-left: 20px;
}
.beer-img {
  width: 100px;
  height: 250px;
}
.beer-img img {
  width: 50px;
  height: 100%;
  object-fit: contain;
}
.beer-name {
  font-weight: 600;
}
.abv {
  color: rgb(93 30 124);
  margin-top: 5px;
}
.btn {
  margin-left: 10px;
  margin-top: 20px;
}
.pagination {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tabs {
  display: flex;
  justify-content: center;
}
.filter {
  font-size: 18px;
  margin: 10px;
  min-width: 175px;
  height: 250px;
  /* border: 1px solid black; */
  padding-top: 20px;
  padding-left: 15px;
}
.filter-heading {
  font-size: 20px;
  font-weight: 800;
  margin-top: 5px;
  color: rgb(18 3 243);
}
